Repository JohannesStoehr/gad23-tests, pull requests merged in 2023-04, with the labels that each got.

#9 [W01] Add test case executor
  w01/test/gad/ExampleResultImplementation.java
  w01/test/gad/ExampleTest.java
  w01/test/gad/maze/README.md
  w01/test/gad/maze/TestExecutor.java
  w01/test/gad/maze/cases.txt
Labels: documentation, w01

#14 [*] Remove `concurrency` from `ci.yml`
  .github/workflows/ci.yml
Labels: ci/cd

#16 [W01] Add Logging Tests
  w01/test/gad/logging/README.md
  w01/test/gad/logging/TestLogging.java
Labels: documentation, w01

#17 [W01] Add two test cases with complex path; fixed a typo
  w01/test/gad/maze/cases.txt
Labels: w01

#18 [W02] Add last year's tests
  w02/test/gad/binarysearch/BoundSearchTest.java
  w02/test/gad/binarysearch/IntervalSearchTest.java
  w02/test/gad/binarysearch/SimpleSearchTest.java
Labels: w02

#19 [W02] Add logging tests
  w02/test/gad/logging/TestResultImplementation.java
  w02/test/gad/logging/loggingTest.java
Labels: w02

#20 [W02] Add test for the case when to and from of the returned interval are the same indices
  w02/test/gad/binarysearch/IntervalSearchTest.java
Labels: w02
