Repository JohannesStoehr/gad23-tests, pull requests merged in 2023-05, with the labels that each got.

#21 [W02] Add interval size 1 edge case logging test
  w02/test/gad/logging/loggingTest.java
Labels: w02

#22 [*] Contributing: replace PGDP keywords with GAD
  CONTRIBUTING.md
Labels: documentation

#23 [W03] Add last year's tests and Artemis Example for StackyQueue
  w03/test/gad/dynamicarray/ArrayHelper.java
  w03/test/gad/dynamicarray/DynamicArrayTest.java
  w03/test/gad/dynamicarray/DynamicStackTest.java
  w03/test/gad/dynamicarray/RingQueueTest.java
  w03/test/gad/dynamicarray/StackyQueueTest.java
Labels: w03

#24 [W03] Added Artemis example for Dynamic Array
  w03/test/gad/dynamicarray/array/DynamicArrayTest.java
Labels: w03

#26 [W04] Add basic tests
  w04/test/gad/simplehash/FastModuloTest.java
  w04/test/gad/simplehash/FindFindAllTest.java
  w04/test/gad/simplehash/HashTest.java
  w04/test/gad/simplehash/InsertRemoveTest.java
  w04/test/gad/simplehash/PowerOfTwoTest.java
Labels: w04

#28 [W04] fix `ModuloHelper` implementation
  w04/test/gad/simplehash/FindFindAllTest.java
  w04/test/gad/simplehash/HashTest.java
  w04/test/gad/simplehash/InsertRemoveTest.java
Labels: w04

#29 [W04] add testcases where `key1.equals(key2)` but `key1 != key2`
  w04/test/gad/simplehash/FindFindAllTest.java
  w04/test/gad/simplehash/InsertRemoveTest.java
Labels: w04

#27 [W03] Add Test Correct Size function of Dynamic Stack
  w03/test/gad/dynamicarray/DynamicStackCorrectSizeTest.java
Labels: w03

#30 [W03] Add Artemis-tests-based testing utilities
  w03/test/gad/dynamicarray/UnitTest.java
Labels: w03
